{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    {% block title %}
    {% endblock %}

    <!-- Styles -->
    <link href="{% static 'css/core.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/thesaas.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}">
  </head>

  <body>
    {% block content %}
    {% endblock %}

    <!-- Scripts -->
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/thesaas.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
