{% extends 'landingpage.html' %}

{% block popup %}
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" data-dismiss="modal" onclick="location.href = {% url 'home' %};">&times;</button>
        </div>
        <div class="modal-body">
          <p>El enlace de confirmación és inválido, probablementes ya se haya usado.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function(){
      $("#myModal").modal();
    });
  </script>
{% endblock %}
