{% extends 'accounts/accounts_base.html' %}
{% load staticfiles %}

{% block title %}
<title>Mywasi - Login</title>
{% endblock %}

{% block content %}
<dir class="row no-gap">
  <div class="col-12 col-md-6 mh-fullscreen bg-img center-vh" align="center" style="background-color: #fafbfc;" >
    <br>
    <div class="card card-shadowed p-50 w-400" style="max-width: 100%">
      <h4 class="text-uppercase text-left">Cambia tu contraseña</h4>
      <!-- <h6 class="text-left">Recibiras un email en tu bandeja:</h6> -->
      <br>
      <form class="form-type-material" method="POST">{% csrf_token %}
        {% include 'includes/form.html' %}
        <button class="btn btn-bold btn-block btn-primary" type="submit">Enviar </button>
      </form>
      <hr class="w-100">
      <p class="text-center text-muted fs-13 mt-20">Aun no tienes una cuenta? <a href="login.html">Valora tu casa</a></p>
    </div>
  </div>
  <div class="col-12 col-md-6 mh-fullscreen bg-img center-vh" align="center" style="background-color: #009af7;">
    <div class="card-outline-primary w-500">
      <h4 class="text-white text-left">Ahorrate hasta 15.000€ con la venta de tu casa.</h4>
      <h6 class="text-white text-left">Nuestra plataforma te permitirá ahorrarte ese dinero
        para que puedas invertirlo en una cocina, una piscina o unas vacaciones maravillosas
        para celebrarlo! Y todo esos...en menos de 2 meses!</h6>
      <h6 class="text-white text-left"> A que esperas para cambiar tu vida?</h6>
    </div>
  </div>
</dir>
{% endblock %}
