{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <h3>Documentación</h3>
  <h5>Planos de la propiedad</h5>
  <div class="card">
    <div class="card-body">
      <p class="card-text">Plano1.pdf <a href="#"><i class="fa fa-download pull-right" aria-hidden="true"></i></a></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p class="card-text">Plano2.pdf <a href="#"><i class="fa fa-download pull-right" aria-hidden="true"></i></a></p>
    </div>
  </div>
  <hr />

  <h5>Certificado energético</h5>
  <div class="card">
    <div class="card-body">
      <p class="card-text">certificado_energetico.pdf <a href="#"><i class="fa fa-download pull-right" aria-hidden="true"></i></a></p>
    </div>
  </div>
  <hr />

  <h5>Cédula de habitabilidad</h5>
  <div class="card">
    <div class="card-body">
      <p class="card-text">cedula_habitabilidad.pdf <a href="#"><i class="fa fa-download pull-right" aria-hidden="true"></i></a></p>
    </div>
  </div>
{% endblock %}
