{% extends "core/base_core.html" %}
{% load staticfiles %}

{% block content %}
  <div class="mh-fullscreen pb-30" align="center" style="background: url({% static 'img/valuation_bg.png' %}); background-size:cover;">
    <br>
    <div>
      <h4 class="text-white text-center">Consige la valoración de tu propiedad GRATIS!</h4>
      <ul class="text-white text-center" style="width:300px; margin:0 auto;">
        <li class="nav-item"><h6 class="text-white text-center fs-12"><i class="fa fa-check" aria-hidden="true"></i> En cuestion de segundos</h6></li>
        <li class="nav-item"><h6 class="text-white text-center fs-12"><i class="fa fa-check" aria-hidden="true"></i> Crea por expertos inmobiliarios</h6></li>
        <li class="nav-item"><h6 class="text-white text-center fs-12"><i class="fa fa-check" aria-hidden="true"></i> Dijimos GRATIS? es GRATIS!</h6></li>
      </ul>
    </div>
    <br>
    <div class="card card-shadowed pl-80 pr-80 pt-30 pb-20 w-900 mb-0" style="max-width: 100%">
      <h5 class="text-center fs-15">Para realizar una valoracion tienes que estar registrad@ en nuestra plataforma.</h5>
        <h5 class="text-center fs-15">Utilizaremos el email y el teléfono para proceder a dicho registro.</h5>
      <br>
      <form class="row gap-y" method="POST">{% csrf_token %}
        {% include 'includes/valuation_form.html' %}
        <br><br>
        <div class="col-12 col-md-12 col-lg-12 mt-20">
          <button class="btn btn-bold btn-primary" align="center" type="submit">VER LA VALORACION DE MI PROPIEDAD GRATIS!</button>
          <p class="custom-control-description text-center m-0 fs-10">Haciendo click en el botón aceptas nuestros <a class="text-primary" href="#">Terminos y Política de privacidad</a></p>
        </div>
      </form>
      <br>
      <p class="text-center text-muted fs-13">Ya tienes una cuenta? <a href="{% url 'login' %}">Acceder</a></p>
    </div>
  </div>
{% endblock %}
